.nav-links {
  background-color: #a7abfb;
  padding: 16px 0;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-left: 64px;
  transition: all 0.2s ease;
  font-weight: 500;
}
.nav-links a:hover {
  color: #000;
}
